*{
  box-sizing: border-box;
}

body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.intro{
  margin: 0 auto;
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;

}
.intro .heading{
  margin: 0;
  font-size: 3rem;
}
.intro .sub{
  margin: .2em 0 0.8em ;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.529);

}
.loading{
  text-align: center;
  font-size: 2rem;
  letter-spacing: 1px;
}

.card{
  max-width: 75%;
  margin: 0 auto;
  padding: .6em .4em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.158);
  margin-top: 1em;
  
}

.question{
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.725);
}

.option button{
  border: 1px solid;
  padding: .4em 1.3em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px;
  color: rgba(178, 46, 178, 0.252);
}

.option:hover{
  cursor: pointer;
  
  
}

.answers{
  display: flex;
  gap: 1.4em;
  flex-wrap: wrap;

}

.button{
  margin: 0 auto;
  text-align: center;
  /* box-shadow: 0 0 200px rgba(222, 212, 196, 0.148); */
}
form{
  display: flex;
  flex-direction: column;
  gap: 1.4em;
}

select{
  padding: .6em;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.758);
}



label{
  font-weight: 600;
  border-bottom: 1px black;
}

button{
  font-size: 1.1rem;
  padding: .5em 1em;
  margin-top: 1em;
  background-color: rgba(247, 247, 247, 0.962);
  border-radius: 5px;
  font-weight: 400;
  border: none;
  color: black;
 
}

.intro p {
  font-weight: 500;
  font-size: 2rem;
}

.score{
  font-weight: 600;
  font-size: 1.5rem;
}

.primary-btn{
  font-size: 1.3rem;
  color: white;
  background-color: purple;
  border-radius: 10px;
  padding: 1em 1em;
}

span{
  font-weight: 600;
  letter-spacing: 1px;
}

.correct{
  color:rgb(107, 209, 107);
}

.incorrect{
  color: rgba(255, 0, 0, 0.744);
}

.legends{
  letter-spacing: 1px;
  font-size: 1.1rem;
  font-weight: 600;
}