*{
  box-sizing: border-box;
}

html{
  height: 100%;
}


body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  margin: 0;
  min-height: 100%;
  
}

body::before{
  content: '';
  background-image: url('https://img.freepik.com/free-vector/question-mark-pattern_1319-109.jpg?w=1380&t=st=1669505094~exp=1669505694~hmac=b7de15a87d3d4c065d0e2c5493b776ac28e2aca82ec658d021efa01d8bb4fa49');
  inset: 0;
  position: absolute;
  opacity: 0.03;

}
.quiz{
  position: relative;
}

.intro{
  position: relative;
  letter-spacing: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-transform: capitalize;

}


.intro .heading{
  margin: 0;
  font-size: 3rem;
  text-shadow: 0 3px palegoldenrod;

}
.intro .sub{
  margin: .2em 0 0.8em ;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.414);
  text-shadow: 0 0 0;
  font-weight: bold;
  letter-spacing: 1px;

}
.loading{
  text-align: center;
  font-size: 2rem;
  letter-spacing: 2px;
  margin: 0;
}

.card{
  max-width: 75%;
  margin: 0 auto;
  padding: 1.7em .4em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.363);
  
}

.question{
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.725);
  margin-top: 0;
}

.option button{
  border: 1px solid;
  padding: .4em 1.3em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px;
  color: rgba(178, 46, 178, 0.252);
}

.option:hover{
  cursor: pointer;
  
  
}

input{
  -webkit-appearance:none;
}

.answers{
  display: flex;
  gap: 1.4em;
  flex-wrap: wrap;

}

.summary{
  margin: 0 auto;
  text-align: center;
  padding: .5em;
  color: rgba(0, 0, 0, 0.725);
}
form{
  display: flex;
  flex-direction: column;
  gap: 1.4em;
  padding: 1em;
  background-color: rgba(185, 180, 223, 0.805);
  border-radius: 8px;
}

select{
  padding: .6em;
  font-size: 1.3rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.758);
  background-color: white;
  border: 1px solid;
  border-radius: 12px;
  
}



label{
  font-weight: 600;
  border-bottom: 1px black;
  letter-spacing: 2px;
}

button{
  font-size: 1.1rem;
  padding: .5em 1em;
  background-color: rgba(151, 144, 161, 0.962);
  border-radius: 5px;
  font-weight: 600;
  border: none;
  color: white;
 
}

.intro p {
  font-weight: 500;
  font-size: 2rem;
}

.score{
  font-weight: 600;
  font-size: 1.5rem;
}

.primary-btn{
  font-size: 1.3rem;
  color: white;
  background-color: purple;
  border-radius: 10px;
  padding: 1em 1em;
  margin: 0 auto;
}

.primary-btn:hover{
  cursor: pointer;
  background-color: yellowgreen;
  color: rgba(0, 0, 0, 0.959);
  font-weight: bold;
}



span{
  font-weight: 600;
  letter-spacing: 1px;
}

.correct{
  color:white;
  background-color:rgb(51, 161, 51);
  padding: .4em;
  border-radius: 5px;
}

.incorrect{
  color: white;
  background-color:  rgba(255, 0, 0, 0.744);
  padding: .4em;
  border-radius: 5px;
}

.legends{
  position: relative;
  letter-spacing: 2px;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: rgba(184, 161, 217, 0.284);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 1em auto;
  border-radius: 10px;
  text-transform:uppercase ;
  max-width: 400px;

}

.endgame-summary{
  letter-spacing: 2px;
  padding: .4em;
  border-bottom: 1px solid;
  color: rgba(0, 0, 0, 0.725);
 
}